{% extends 'base.html' %}
{% block body %}
    <div style="padding:50px;text-align:center;">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Enter your Movie name"><br><br>
            <input type="text" name="desc" placeholder="Enter your Movie desc"><br><br>
            <input type="text" name="year" placeholder="Enter your Movie year"><br><br>
             <input type="file" name="img"><br><br>
            <input type="submit">
        </form>
        {% endblock %}
    </div>
